<div class="criteria_group_row" data-locator="<%= @locator %>" data-childcount="<%= @group.operand_collection.count %>">
  <select class="criteria_operator_type_input group_operator_type">
    <% operators.each do |op| %>
        <option value="<%= op[:value] %>" <% if op[:value] == operator_type %>selected<% end %>><%= op[:text] %></option>
    <% end %>
  </select>
  <% if @allow_delete %>
      <a href="#" class="criteria_group_delete">Delete</a>
  <% end %>
  <div class="criteria_editor_row_wrapper">
    <% if empty? %>
        <div class="criteria_editor_empty_placeholder">It's lonely inside here...</div>
    <% else %>
        <% c = 0 %>
        <% @group.operand_collection.each do |operand| %>
            <%= cell('criteria_operator/ui_component/criteria_editor', operand).(:choose_template, locator: c) %>
            <% c += 1 %>
        <% end %>
    <% end %>
  </div>
  <a href="#" class="criteria_editor_new_group">Add group</a><br />
  <a href="#" class="criteria_editor_new_expression">Add expression</a>
</div>